{% extends "layout.html" %}
from .views import homepage

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'static\css\style.css' %}">

{% block title %} 
Home
{% endblock %}

{% block content %}
    <h1> home </h1>
    <h4><b> cooking with instructions can be as easy as pouring as pouring a glass of water</b></h4>
    <p>send the <a href="{% url 'recipes:list' %}">Recipes<a/> page.</p>

    <video width="1000" height="auto" autoplay loop muted>
        <source src="{% static 'videos/pouringwater.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>


    <div class="customer-responses">
        <h2>Customer Responses</h2>
        <p>Debug Output: {{ recent_responses }}</p>
        <div class="response-container">
        {% for response in recent_responses %}
            <div class="response">
                <p><strong>Reply:</strong> {{ response.content }}</p>
                <p><em>Posted on: {{ response.created_at }}</em></p>
            </div>
        {% empty %}
            <p> No responses Yet </p>
        {% endfor %}
        </div>
    </div>


    <!-- Response Form Section -->
    <div id="response-form">
        <form method="post" action="{% url 'recipes:submit_response' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
    
    <!--<div class="row">
      {% if most_recent %}
        <div class="col-sm-4 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Feedback</h5>
              <h6 class="card-text">{{ most_recent.created_at }} by {{ most_recent.user.username}}</h6>
              <p class="card-text"> {{ most_recent.content }} </p>
            </div>
          </div>
        </div>
      {% endif %}-->
    <dive class="row">
      <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">nice recipes</h5>
            <h6 class="card-text">by Jason</h6>
            <p class="card-text">found some really intersting recipes for almost all events and they were so easy to follow and so nice to eat afterwards</p>
          </div>
        </div>
      </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">wasn't too bad</h5>
              <h6 class="card-text">by Schmidt</h6>
              <p class="card-text">wasn't too bad got to find good vegetarian recipes, i've added some of my own</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">I Loved this site</h5>
              <h6 class="card-text">by James</h6>
              <p class="card-text">this is one of the best Recipe apps, it has recipes for and from people who aren't top chefs and roughly same budget</p>
            </div>
          </div>
        </div>
      </div>

{% endblock %}