{% extends "layout.html" %}

{% block title %} 
Posts
{% endblock %}

{% block content %}
    <section>
    <h1> Posts list </h1>

    {% for recipe in recipes %}
        <article class = "recipe">
            <h2>
                <a href="{% url 'recipes:page' slug=recipe.slug %}">
                    {{ recipe.title }} 
                </a>
            </h2>
            <img> {{ recipe.banner }} </img>
            <p>{{ recipe.date }} by {{ recipe.author }}</p>
            <p>{{ recipe.brief_description|truncatewords:30 }}</p> 
        </article>
    {% endfor%}

</section>
{% endblock %}

